<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <title>Weather App</title>
</head>
<body>
    {{>header}}
    <div class="content">
        <h1>About page</h1>
        <p>This is a web application to see current weather forecast. This web application is created by Tarun Kishore. This web application takes location as your input and give you details for current weather conditions such as it is sunny or rainy or something else. This also tells you current temperature, humidity and what temperature does it feels like right now. The temperature units are in degree Celcius</p>
    </div>

    {{>footer}}
</body>
</html>