<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <title>Weather App</title>
</head>
<body>
    {{>header}}
    <div class="content">
        <h1>About page</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus quia explicabo maxime necessitatibus cumque dolore est debitis aliquam. Quidem sit animi natus, saepe, labore ullam id cumque ea non culpa dolorem perspiciatis asperiores pariatur! Dolore possimus vitae autem, non expedita quibusdam, blanditiis ea similique accusantium cumque sunt distinctio eos inventore magnam illo! Laborum vitae repudiandae iure accusantium enim animi? Non illo consectetur et quibusdam, molestiae minus. Expedita consequuntur optio, accusantium iure adipisci magnam. Necessitatibus hic dolorem distinctio debitis eveniet, omnis quis laborum accusamus nam voluptatem aliquam amet esse dignissimos expedita quas excepturi voluptates ab! Officiis inventore cupiditate animi deleniti dolores.</p>
    </div>

    {{>footer}}
</body>
</html>