<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <title>Weather App</title>
</head>
<body>
    {{>header}}
    <div class="content">
        <h1>help page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsam, molestiae soluta hic adipisci magni nulla non eveniet enim, iusto quasi iste voluptate impedit sit corporis eum explicabo voluptatem, labore dolorum magnam quia? Magnam, quod? Culpa nihil quia corporis distinctio, facilis odio reiciendis nam, debitis fugiat dicta provident autem saepe ea fugit ex consequatur optio consequuntur odit! Non consectetur, quos porro laboriosam expedita aspernatur autem dolor? Cumque omnis magni sit doloremque est consectetur distinctio asperiores dolorem consequuntur iure vitae impedit iste maxime consequatur cupiditate aliquid fugiat aut maiores, dolorum quae ratione alias perspiciatis! Quia temporibus tenetur sequi deserunt quidem iste.</p>
    </div>
    {{>footer}}
</body>
</html>