<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <title>Weather App</title>
</head>
<body>
    {{>header}}
    <div class="content">
        <h1>help page</h1>
        <p>Using this web application is as simple as it can get. You have to go to home page (you can also click on weather page link for this). On that page, put the location you want to check weather for. You will get the current weather details. If there comes an error 'No such location can be found' then try another key word for the location or try using state name instead for the city. But if still the weather details doesn't show up then probably the location is not in our database.</p>
    </div>
    {{>footer}}
</body>
</html>