<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <title>Weather App</title>
</head>
<body>
    {{>header}}
    <div class="content">
        <h1>Check your weather here</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, similique harum dolorum vel neque debitis ducimus autem, blanditiis dignissimos sit vero quae nesciunt nobis provident? Quibusdam, accusantium et quam architecto repudiandae explicabo ea nobis est quas, doloremque id cum recusandae laboriosam officia similique iste nulla omnis consequuntur quod obcaecati atque?</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Check weather</button>
        </form>
        <div id="error"></div>
        <div id="data"></div>
    </div>
    {{>footer}}
</body>
</html>