<header>
    <div>
        <h1 id="title">{{title}}</h1>
    </div>
    <div id="links">
        <a href="/">Weather page</a>
        <a href="/about">About page</a>
        <a href="/help">help page</a>
    </div>
</header>