body{
    color : black;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100 vh;
}

header{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 10 vw;
    margin-left: 15vw;
    margin-right: 15 vw;
    padding-left: 5vw;    
    padding-left: 5vw;    
}
#title{
    font-size: 5vw;
    color:black;
    margin-bottom: 1vw;
}

#links{
    display: flex;
    flex-direction: row;
    height: 3vw;
}

a{
    text-decoration: none;
    color: #000;
}

#links a{
    width: 10vw;
    margin-left: 1vw;
    padding: 0.5vw;
    text-align: center;
}

#links a:hover{
    color: red;
}

.content{
    width: 60vw;
    height: 10 vw;
    margin-left: 15vw;
    margin-right: 15 vw;
    padding-left: 5vw;    
    padding-left: 5vw;   
}

form{
    display: flex;
    flex-direction: row;
    height: 3vw;
}

input{
    border: 1px solid black;
    padding: 2px;
    margin-right: 1vw;
    width: 20vw;
}

button{
    width: 5 vw;
    background: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
}

#error{
    margin: 1vw;
    color: red;
    font-weight: bold;
    font-size: 2vw;
}

#data{
    display: flex;
    flex-direction: column;
    margin: 1vw;
    font-weight: 700;
}

#wrapper{
    display: flex;
    flex-direction: row;
    width: 60vw;
}

img{
    height: 10w;
    width: 10vw;
    margin: auto;
}

#imgCond{
    width: 15vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#figures{
    display: flex;
    flex-direction: column;
}

#figures p{  
    height: 5 vw;
}

footer{
    width: 60vw;
    height: 10 vw;
    margin-left: 15vw;
    margin-right: 15 vw;
    padding-left: 5vw;    
    padding-left: 5vw; 
    position: absolute;   
    bottom: 0vw;
}